@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: #000000;
    --background: #ffffff;
  }

  .dark {
    --foreground: #ffffff;
    --background: #0f1116;
  }

  body {
    color: var(--foreground);
    background-color: var(--background);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
