@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: #000000;
    --background: #e8e8e8;
  }

  .dark {
    --foreground: #ffffff;
    --background: #171717;
  }

  body {
    color: var(--foreground);
    background-color: var(--background);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
